mixin blogCard(title, text, author, image)
    .blogcard(class=className name='blogcard')
        img.image-small(src=image)
        .blogcard-text
            p.text-page.text-blogcard=title
            p.text-small=text.substr(0, 200) + '...'
            p.author=author